.service {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/main5.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
.service__title {
    color: #fff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.34;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-left: 236px;
    padding-right: 236px;
}
